* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Heebo', sans-serif;
}

/* inizio classi che posso utilizzare ovunque */

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.indent {
  width: 85%;
  margin: 0 auto;
}

a:not(.special) {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  vertical-align: middle;
}

a.button {
  border: 1px solid;
  border-radius: 0.3em;
}
a.small {
  padding: 0.5em 1em;
}
a.big {
  padding: 1em;
  line-height: 6em;
}
a.empty {
  border-color: white;
}
a.green {
  border-color: rgb(124 187 2);
  background-color: rgb(124 187 2);
}

a, nav ul {
  font-size: 0.75em;
}

.grey p, .white p, footer span, footer select {
  color: grey;
}

/* fine classi che posso utilizzare ovunque */

/* inizio header */

header {
  background-image: url(../img/background-header.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: rgb(12 50 90);
  padding-top: 1vh;
}

nav img {
  float: left;
  height: 40px;
}
.menu1 {
  float: left;
  margin-left: 1vw;
}
.menu2 {
  float: right;
}
nav ul {
  line-height: 50px;
  list-style: none;
}
nav li {
  display: inline;
  margin-left: 1em;
}

.header_text {
  width: 50%;
  margin: 100px 0;
  color: white;
}

/* fine header */

/* inizio grey */

.grey {
  height: 100px;
  line-height: 100px;
  background-color: lightgrey;
  text-align: center;
}
.grey .center {
  display: inline-block;
  line-height: 1.5em;
  vertical-align: middle;
}

/* fine grey */

/* inizio white */

.white > hr {
  width: 90%;
  margin: auto;
}
.white > * > *:not(hr) {
  float: left;
  padding: 2em;
}
.top > * {
  width: calc(100% / 3);
  text-align: center;
}
.bottom > * {
  width: 50%;
}
.white > * > * > *{
  margin: 0.5em;
}
.top img {
  height: 150px;
}
.top h3 {
  color: rgb(124 187 2);
}
.top hr {
  width: 20%;
  margin: auto;
}

/* fine white */

/* inizio footer */

footer {
  height: 150px;
  line-height: 150px;
  background-color: lightgrey;
}
footer h2 {
  float: left;
}
footer span {
  float: right;
}
footer select {
  width: 10em;
  margin: 0 1em;
  border: none;
  border-bottom: 1px solid grey;
  background-color: lightgrey;
  vertical-align: middle;
}

/* fine footer */

/* inizio fixed */

a.fixed {
  position: fixed;
  bottom: 0;
  right: 10%;
}

/* fine fixed */
